<template>
    <div class="container">
        <div class="row mt-5 text-right">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#createUser">
                    Nuevo Registro
                </button>
            </div>
        </div>
        <div class="row mt-5">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Avatar</th>
                            <th scope="col">Cumpleaños</th>
                            <th scope="col">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user in users" :key="user.id">
                                <th scope="row">{{user.id}}</th>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>
                                    <img :src="user.avatar" alt="" v-if="user.avatar" class="img-responsive card-image" width="50">
                                </td>
                                <td>{{user.created_at}}</td>
                                <td>
                                    <button type="button" class="btn btn-info text-white" @click="edit(user)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger text-white" @click="destroy(user)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <user-modal/>
    </div>
</template>
<script>
    import {mapActions,mapGetters} from 'vuex'
    import UserModal from "../../components/UserModal";
    export default {
        data(){
            return{
                user : {
                    name : null,
                    username : null,
                    email : null,
                    avatar : null,
                    birthday : null
                }
            }
        },
        components : {
            UserModal
        },
        mounted(){
            this.fetchUsers();
        },
        methods: {
            ...mapActions('users',['fetchUsers','destroyUser']),
            destroy(user){
                this.destroyUser(user.id);
            }
        },
        computed: {
            ...mapGetters('users',['users'])
        }
    }
</script>
