<template>
    <div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="createUser" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Crear Usuario
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-danger" role="alert" v-if="showError">
                    Error: {{error}}
                </div>
                <form @submit.prevent="create">
                    <div class="modal-body">
                            <div class="form-group">
                                <label for="name">
                                    Nombre
                                </label>
                                <input v-model="user.name" type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="username">
                                    Nombre de usuario
                                </label>
                                <input v-model="user.username" type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Correo Electronico
                                </label>
                                <input v-model="user.email" type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">
                                    Contraseña
                                </label>
                                <input v-model="user.password" type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="avatar">
                                    Avatar
                                </label>
                                <input ref="file" type="file" class="form-control" id="avatar" name="avatar" accept="image/*" @change="setFormData">
                            </div>
                        <div class="form-group">
                                <label for="birthday">
                                    Cumpleaños
                                </label>
                                <input v-model="user.created_at" type="date" class="form-control" id="birthday" name="birthday" required>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState,mapActions} from 'vuex'
    export default {
        data(){
            return{
                user : {
                    name : null,
                    username : null,
                    email : null,
                    password : null,
                    avatar : null,
                    created_at : null
                },
                showError : false,
                error : null,
                id : null,
                formData : new FormData()
            }
        },
        mounted(){

        },
        methods :{
            ...mapActions('users',['addUser','uploadAvatar']),
            create(){

                this.addUser(this.user).then((response)=>{
                    if(response.success){
                        this.id = response.user.id;
                        this.upload(response.user.id);
                    }else{
                        this.showError = true;
                        this.error = response.error;
                        setTimeout(()=>{
                            this.showError = false;
                            this.error = null;
                        },2500)
                    }
                })
            },
            setFormData(){
                const file = this.$refs.file.files[0];
                this.formData.append('avatar',file);
            },
            upload(id){
                this.uploadAvatar({formData :this.formData,id}).then((response)=>{
                    if(response.success){
                        Object.assign(this.$data, this.$options.data.apply(this));
                        $("#close").click();
                    }
                })
            }
        }
    }
</script>
